:root {
    --uiBg: #ef4444;
    --searchbarBg: #fecaca;
    --hoverBg: #fee2e2;
    --borderR: 5px;
    --uiFont: 'Poppins', sans-serif;
    --contentFont: 'Open Sans', sans-serif;
    --sidebarBG: #f8fafc;

    --lineHeight: 21px;
    --borderColor: #e2e8f0;
    --descriptionColor: #cbd5e1;

    --selectedColor: #fee2e2;
}

.selected {
    pointer-events: none;
    background-color: var(--selectedColor) !important;
}

.p1 {
    fill: #34d399 !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display:flex;
}

button:hover {
    border: 1px solid inherit;
    background-color: var(--hoverBg) !important;
    cursor: pointer;
}

.toggleOn {
    transform: rotate(90deg);
}

.topUiContainer {
    
    background-color: var(--uiBg);


    display:flex;
    padding: 10px 50px 10px 30px;
    justify-content: space-between;

    position: fixed;
    width: 100%;
    z-index: 9995;
}

.searchForm {
    display:flex;
}

.searchBtn {
    position: relative;
    right:-30px;
    background-color: inherit;
    border: 0;
    display:flex;
    padding: 3px;
    
    
}

#searchbar {
    padding-left: 40px;
    width: 200px;
    border-radius: 5px;
    border-color: inherit;
    background: var(--searchbarBg);
    border: 0;
}
input {
    outline: none;
    font-family: var(--uiFont);
}


.topUiContainer > div > button> img, .searchForm > button> img {
    width: 20px;
    
}

.topLeftUi, .topRightUi{
    display:flex;
    gap: 10px;
}

.topLeftUi > button , .topRightUi > button {
    background-color: inherit;
    border: 0;
    padding: 1px;
    border-radius: var(--borderR);

    
}


.contentContainer {
    margin-top: 46px;
}

.leftContentContainer {
    padding-top: 30px;
    display: flex;
    width: 320px;
    padding-left: 20px;
    padding-right: 10px;

    
    background-color: var(--sidebarBG);

    position: fixed;
    height: 100vh;
}
    


.sidebarContainer {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.sidebar > li, #projDisplay > li {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar > li > button, #projDisplay > li> button {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;

    border: 0;
    border-radius: var(--borderR);
    padding: 10px;
    background-color: inherit;

    font-family: var(--uiFont);
}

#projsideBar {
    margin-top: 20px;
}

#addProjForm > div {
    flex-direction: column;
    display: flex;
}

#addProjBtn {
    justify-content: flex-end;
    flex-grow: 0;
    cursor: pointer;
}

#projName {
    padding-left: 5px;
}

#projName, #iconLabel {
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
}

.projSubmitBtnContainer {
    flex-direction: row !important;
    margin-top: 20px;
    justify-content: flex-end;
    gap: 5px;
}

#addProjBtn > img {
    width: 20px;
}

.sidebar > li > button > div, #projDisplay > li > button > div {
    display:flex;
    align-items: center;
    gap:5px;
}

.sidebar > li > button> div > img, #projDisplay > li> button> div> img {
    width: 20px;
}

.indicator {
    color: #d1d5db;
}

.addProjContainer {
    z-index: 9999;
    padding:10px;
    border:none;
    position: fixed;
    left: 400px;
    top: 80px;
    
    background-color: white;
    font-family: var(--uiFont);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}



.addTaskContainer {
    background-color: white;
    z-index: 9997;
    position: fixed;
    left: 400px;
    top: 80px;
    
    
    border: none;
    padding: 10px;
    transform: scale(0);
    transition: none;

    border-radius: var(--borderR);
    

    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

    
}

.visible{
    
    transform: scale(1);
    transition: transform 0.2s linear;
    
    
}

#addTaskForm {
    display:flex;
    flex-direction:column;
    gap:3px;
    width: 550px;
}
#addTaskForm > input {
    border:0;
}
.bottomTaskContainer {
    position: relative;
    display:flex;
    margin-top: 20px;
}

.projectDropContainer {
    z-index: 9999;
    position: absolute;  
    left: 500px;
    top: 200px;

    cursor:pointer;

    display: flex;
    border: 2px solid var(--borderColor);
    flex-direction: column;

}

.projectDropContainer::after {
    bottom:100%;
    left:5%;
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom: 5px solid white;
    content:'';
    margin-left: -5px;
}

.projectDropContainer::before {
    bottom: 100%;
    left: 5%;
    position: absolute;
    height:0;
    width: 0;
    border: 8px solid transparent;
    border-bottom: 8px solid var(--borderColor);
    margin-left: -8px;
    content:'';
}



.projectDropContainer > ul {
    z-index: 9999;
    list-style-type: none;
}

.projectDropContainer > ul > li {
    
    z-index: 9999;
    display:flex;
    width:200px;
    justify-content: space-between;
    
}

.projectDropContainer > ul > li > div {
    display:flex;
    
    
}

.projectDropContainer > ul > li > div > img {
    width: 20px;
}
.bottomTaskContainer > button, #cancelBtn, #submitBtn {
    display:flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    font-family: var(--uiFont);
    border: 1px solid var(--borderColor);
    border-radius: var(--borderR);
}
#dueDateBtn {
    color:#34d399;
}

#taskDateBtn {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    font-family: var(--uiFont);
    border: 1px solid var(--borderColor);
    border-radius: var(--borderR);
}

.bottomTaskContainer > button> img {
    width: 16px;
}

.submitBtnContainer {
    justify-content: flex-end;
    display: flex;
    gap: 5px;
}

.txtAreas {
    resize: none;
    outline: none;
    overflow: hidden;
    border: none;
    line-height: var(--lineHeight);

    font-family: var(--contentFont);
    cursor: text;

    
}

.overlay {
    left: 1px;
    top: 1px;
    position: fixed;
    z-index: 9996;
    height: 100%;
    width: 100%;
}

.overlay2 {
    left: 1px;
    top: 1px;
    position: fixed;
    z-index: 9998;
    height: 100%;
    width: 100%;
}

.hidden {
    transform:scale(0);
}



.phaseout {
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 0.5s, transform 0.5s linear;
}

/* page content */

.contentDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-family: var(--contentFont);
}

.rightContentContainer {
    margin-left: 320px;
    padding:30px;
}

.taskDiv {
    display:flex;
}

#taskDateBtn > img {
    width: 16px;
}

.taskTitle {
    font-size: 14px;
}

.taskDescription {
    font-size: 12px;
    color: var(--descriptionColor);
}

.leftTaskContainer, .righttaskContainer {
    padding: 5px;
}

